// fonts
@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url(../fonts/helvetica_neue/HelveticaNeueLTStdBd.otf);
}
// variables
$primary: #6F536F;
$primary-hover: #3a2d3a;

header{
    max-width: 600px;
    width: 100%;
    margin: auto;
    background-image: url("../images/banner1.png");
    background-repeat: no-repeat;
    background-size: 223px;
    min-height: 335px;
    background-color: #f2f0ef;
    div{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background-image: url("../images/banner2.png");
        background-repeat: no-repeat;
        background-size: 300px;
        background-position: 100% 100%;
        height: 100%;
        h1{
            font-size: 0;
            margin: 50px;
            &:after{
                content: '';
                background: url("../images/minutentag-logo.png") no-repeat;
                display: block;
                width: 160px;
                height: 15px;
            }
        }
        h2{
            font-size: 42px;
            font-family: 'Helvetica Neue Bold';
            text-align: center;
            color: $primary;
            margin-top: 30px;
            display: flex;
            width: 65%;
            margin: auto;
        }
        button{
            border: none;
            width: 30%;
            margin-top: 30px;
            padding: 0;
            border-radius: 5px;
            a{
                width: 100%;
                background-color: white;
                border-radius: 5px;
                text-decoration:none;
                color: $primary;
                font-size: 14px;
                font-family: Helvetica;
                font-weight: 500;
                display: block;
                padding: 10px 0;
                box-shadow: 4px 6px 24px -9px rgba(0,0,0,1);
                -webkit-box-shadow: 4px 6px 24px -9px rgba(0,0,0,1);
                -moz-box-shadow: 4px 6px 24px -9px rgba(0,0,0,1);
                &:hover{
                    text-decoration:none;
                    color: white;
                    background-color: $primary;
                    transition: all 600ms;
                }
            }
        }
    }
}
section{
    max-width: 600px;
    width: 100%; 
    margin: auto;
    background-color: #f2f0ef;
    div{
        div{
            h2{
                color: $primary;
                font-size: 24px;
                font-family: 'Helvetica Neue Bold';
            }
        }
    }
    .own-card{
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: 2px 2px 3px #ccc;
        h3{
            color: $primary;
            font-size: 14px;
            font-family: Helvetica;
            font-weight: 600;
        }
        p{
            color: $primary;
            font-size: 13px;
            font-family: Helvetica;
        }

    }
}
.own-button{
    color: $primary;
    font-size: 14px;
    font-family: Helvetica;
    border-radius: 0.5em;
    border: 2px solid $primary;
    transition: all 600ms;
    font-weight: 600;
    &:hover{
        background-color: $primary;
        color: white;
    }
    &:active{
        box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px $primary-hover;
    }
}
.own-button2{
    background-color: white;
    color: $primary;
    font-size: 14px;
    font-family: Helvetica;
    border-radius: 0.5em;
    border: 2px solid $primary;
    transition: all 600ms;
    font-weight: 600;
    &:hover{
        background-color: $primary;
        color: white;
    }
    &:active{
        box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px $primary-hover;
    }
}
.own-primary{
    color: $primary;   
    font-family: Helvetica;
   }
.container-icons{
    div{
        figure{
            figcaption{
                color: $primary;
                font-size: 15px;
                font-family: Helvetica;
                font-weight: 700;
            }
            p{
                color: $primary;
                font-size: 13px;
                font-family: Helvetica;
            }
        }
    }
}
footer{
    max-width: 600px;
    width: 100%; 
    margin: auto;
    h3{
        color: $primary;
        font-size: 19px;
        font-family: 'Helvetica Neue Bold';
    }
    details > summary {
        list-style: none;
        color: $primary;
        font-size: 12px;
        font-family: Helvetica;
        cursor: text;
    }
}
